<ion-content [fullscreen]="true" class="ion-padding">

    <ion-text>
      <h1>Buy Books</h1>
    </ion-text>

    <ion-list>
      <ion-item *ngFor="let item of items | async">
        <ion-thumbnail slot="start" *ngIf="item.imageUrl">
          <img [src]="item.imageUrl" alt="">
        </ion-thumbnail>
        <ion-label>{{ item.title }}</ion-label>
        <ion-button slot="end" color="danger" (click)="buy(item)">Buy</ion-button>
      </ion-item>

      <ion-item>
        <ion-label>Current Account Balance</ion-label>
        <ion-label>from database</ion-label>
      </ion-item>
    </ion-list>

</ion-content>
