<ion-content [fullscreen]="true" class="ion-padding">

  <ion-text>
    <h1>App Name</h1>
  </ion-text>

<div class="display">
  <ion-item>
    <p> Total Number of Bookings: {{ displayUserData?.STAFF_FNAME }}</p>
  </ion-item>
  <ion-item>
    <p>Meal 1: {{ displayUserData?.STAFF_FNAME }} orders</p>
  </ion-item>
  <ion-item>
    <p>Meal 2: {{ displayUserData?.STAFF_FNAME }} orders</p>
  </ion-item>
  <ion-item>
    <p>Meal 3: {{ displayUserData?.STAFF_FNAME }} orders</p>
  </ion-item>
</div>

</ion-content>
