<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Knockando</h1>
  </ion-text>

  <ion-card>
    <img src="../../assets/images/fishChips.jpg"/>
    <ion-card-header>
      <ion-card-title>Fish & Chips</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Scrumbcious hake fillet, served with freshly fried chips. <br>
      Allergens:
      Wheat, eggs, fish <br>
      <ion-label>
        <ion-icon slot="start" color="warning" name="star"></ion-icon>
        Rating from database
      </ion-label>
    </ion-card-content>
    <ion-button (click)="orderAction(1)">Order</ion-button>
    <ion-button (click)="reviewAction(1)">Make Review</ion-button>
  </ion-card>

  <ion-card>
    <img src="../../assets/images/beefStew.jpg"/>
    <ion-card-header>
      <ion-card-title>Beef Stew</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Mouth Watering beef stew, served with freshly cooked vegetables and rice.<br>
      <ion-label>
        <ion-icon slot="start" color="warning" name="star"></ion-icon>
        Rating from database
      </ion-label>  
    </ion-card-content>
    <ion-button (click)="orderAction(2)">Order</ion-button>
    <ion-button (click)="reviewAction(2)">Make Review</ion-button>
  </ion-card>

  <ion-card>
    <img src="../../assets/images/couscous.jpeg"/>
    <ion-card-header>
      <ion-card-title>Tuna-Mayo Sandwich</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Delicious tuna-mayo sandwich, served with freshly fried chips.<br>
      Allergens:
      Wheat, eggs, fish <br>
      <ion-label>
        <ion-icon slot="start" color="warning" name="star"></ion-icon>
        Rating from database
      </ion-label>
    </ion-card-content>
    <ion-button (click)="orderAction(3)">Order</ion-button>
    <ion-button (click)="reviewAction(3)">Make Review</ion-button>
  </ion-card>
  

</ion-content>
