ion-header{
 
    h1{
      font-size: 20px;
      color: #416;
      font-style: italic;
      font-family: cursive;
    }
}

.ion-padding{
    top: 20%;
    margin-bottom: 10%;

    h1{
        font-size: 20px;
        color: #416;
    }
    
}

ion-button{
    position: absolute;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 3%;
    --background: #D4AF37;
 
}