<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Messages</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="actions">
    <ion-item *ngFor="let conversation of conversations"  (click)="mainAction(conversation.uid)">
      <ion-thumbnail slot="start">
        <ion-img src="../../assets/images/person.png"></ion-img>
      </ion-thumbnail>

      <ion-label>
        <h1>{{conversation.name}}</h1>
        {{conversation["Most Recent Message"].content}}
      </ion-label>
      
      <!-- <ion-list>
        <h1>{{ item.Title }}</h1>
        <ion-label>C {{ item.Price }} <br></ion-label>
        <ion-button expand="block" (click)="buy(item)">Buy</ion-button>
        <ion-button expand="block" (click)="message(item)">Contact Seller</ion-button>
      </ion-list> -->

    </ion-item>
  </div>

</ion-content>
