<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
  <ion-text>
    <h1>EOH</h1>
  </ion-text>



  <ion-card>
    <img src="../../assets/images/riceChicken.jpg"/>
    <ion-card-header>
      <ion-card-title>Rice & Chicken</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Scrumbcious chicken stew, served with freshly cooked rice. <br>
      Allergens:
      Wheat
    </ion-card-content>
    <ion-button (click)="orderAction(1)">Order</ion-button>
    <ion-button (click)="reviewAction(1)">Make Review</ion-button>
  </ion-card>

  <ion-card>
    <img src="../../assets/images/vegLas.jpg"/>
    <ion-card-header>
      <ion-card-title>Vegetarian Lasanga</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Mouth Watering vegetarian lasanga.<br>
      Allergens:
      Wheat, Milk, 
    </ion-card-content>
    <ion-button (click)="orderAction(2)">Order</ion-button>
    <ion-button (click)="reviewAction(2)">Make Review</ion-button>
  </ion-card>

  <ion-card>
    <img src="../../assets/images/wedges.jpg"/>
    <ion-card-header>
      <ion-card-title>Steak & Wedges</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Delicious steak, served with freshly baked potato wedges.<br>
      Allergens:
      Wheat, Milk, 
    </ion-card-content>
    <ion-button (click)="orderAction(3)">Order</ion-button>
    <ion-button (click)="reviewAction(3)">Make Review</ion-button>
  </ion-card>

</ion-list>

</ion-content>
