ion-toolbar{
    position: absolute;
    
    h1{
    font-size: 20px;
    color: #416;
    font-style: italic;
    font-family: cursive;
    }
  }

.ion-padding{
    top: 20%;
    margin-bottom: 20%;

    ion-input{
        border-radius: 14px;
        background-color: #ebe7f3;
        border: #ebe7f3;
        margin-bottom: 6%;
    }
    input{
        font-size: 13px;
    }
    
}

ion-button{
    position: absolute;
    width: 80%;
    margin-left: 5%;
    margin-bottom: 3%;
    --background: #D4AF37;
 
}