<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Sell Books</h1>
    </ion-title>
   <ion-buttons slot="start">
     <ion-menu-button menu ="main-menu"></ion-menu-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

      <ion-list>
        <form class="ion-padding" (submit)="addBook()">
          <ion-item>
            <ion-list>
            <ion-input name="bookName" [(ngModel)]="data.Title" placeholder="Book Name"></ion-input>
            <ion-input name="bookPrice" [(ngModel)]="data.Price" placeholder="Book Price"></ion-input>
            <ion-input name="bookDescription" [(ngModel)]="data.Description" placeholder="Book Description"></ion-input>
            </ion-list> 
          </ion-item>

          <ion-item lines="none">
            <ion-list position="stacked">
            <ion-label>Upload image(s)</ion-label>
            <input type="file" name="inputFile" (change)="images = $event.target.files" multiple required>
            </ion-list>
          </ion-item>
      
          <ion-button type="submit">Add</ion-button>
        </form>
    </ion-list>

</ion-content>
