*{
    font-weight: 300;
}
  
   ion-text{
     position: relative;
     top: 10%;
  
     h1{
       font-size: 30px;
       color: #416;
       font-style: italic;
       font-family: cursive;
     }
   }
  
   .actions{
     position: relative;
     width: 80%;
     margin-bottom: 10%;
     margin-left: 10%;
  
   }

   ion-card-title{
     margin-left: 20%;
   }