<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Sign Up</h1>
  </ion-text>
  <div class="input">
    <form>
      <ion-list>

        <ion-item>
          <ion-label position="stacked">Person Number</ion-label>
          <ion-input type="tel" name="personNumber" [(ngModel)]="data.auth.PersonNumber"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">First Name</ion-label>
          <ion-input name="name" [(ngModel)]="data.user.Name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Last Name</ion-label>
          <ion-input name="surname" [(ngModel)]="data.user.Surname"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input name="password" type="password" [(ngModel)]="data.auth.Password"></ion-input>
        </ion-item>

      </ion-list>
    </form>
  </div>
  <div class = "actions">
    <ion-button expand="block" (click)="mainAction()">Sign Up</ion-button>
    <p (click)="loginAction()">
      Already have an account? 
      <a> Login</a>
    </p>
  </div>

</ion-content>
