*{
    font-weight: 300;
    top: 3%
}

ion-grid{
    bottom: 10%;
}

ion-text{
    position: absolute;
    top: 3%;
    
    h1{
    font-size: 20px;
    color: #D4AF37;
    font-style: italic;
    font-family: cursive;
    }
}

ion-button{
    --border-radius: 9px;
    --box-shadow: none;
    --background:  #416;
    text-transform: initial;
    font-size: 12px;
    display: block;
    //margin-left: 5%;
 
  }