<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Highfield</h1>
  </ion-text>

  <ion-card>
    <img src="../../assets/images/chickenPizza.jpg"/>
    <ion-card-header>
      <ion-card-title>Chicken Pizaa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Scrumbcious chicken pizza, served with freshly fried chips. <br>
      Allergens:
      Wheat
    </ion-card-content>
    <ion-button (click)="orderAction(1)">Order</ion-button>
    <ion-button (click)="reviewAction(1)">Make Review</ion-button>
  </ion-card>

  <ion-card>
    <img src="../../assets/images/beefLas.jpg"/>
    <ion-card-header>
      <ion-card-title>Beef Lasagna</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Mouth Watering Beef Lasagna, served with freshly cooked vegetables.<br>
      Allergens:
      Wheat
    </ion-card-content>
    <ion-button (click)="orderAction(2)">Order</ion-button>
    <ion-button (click)="reviewAction(2)">Make Review</ion-button>
  </ion-card>

  <ion-card>
    <img src="../../assets/images/couscous.jpeg"/>
    <ion-card-header>
      <ion-card-title>Couscous & Chicken</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Delicious chicken stew, served with freshly prepared couscous.<br>
      Allergens:
      Wheat, Milk, 
    </ion-card-content>
    <ion-button (click)="orderAction(3)">Order</ion-button>
    <ion-button (click)="reviewAction(3)">Make Review</ion-button>
  </ion-card>
  

</ion-content>
