<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Pick Dining Hall</h1>
  </ion-text>

  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="item item-image">
          <img src="../../assets/images/convoPic.jpg">
        </div>
        <div class="item item-divider">
          Convocation
        </div>
      </ion-col>
      <ion-col>
        <div class="item item-image">
          <img src="../../assets/images/eohPic.png">
        </div>
        <div class="item item-divider">
          Ernest Oppenheimer
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="item item-image">
          <img src="../../assets/images/highfeildPic.jpg">
        </div>
        <div class="item item-divider">
          Highfield
        </div>
      </ion-col>
      <ion-col>
        <div class="item item-image">
          <img src="../../assets/images/jubsPic.png">
        </div>
        <div class="item item-divider">
          Jubilee
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="item item-image">
          <img src="../../assets/images/knocksPic.png">
        </div>
        <div class="item item-divider">
          Knockando
        </div>
      </ion-col>
      <ion-col>
        <div class="item item-image">
          <img src="../../assets/images/mainPic.jpg">
        </div>
        <div class="item item-divider">
          Main
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
