<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Convocation</h1>
  </ion-text>

  <ion-card>
    <img src="../../assets/images/beefPizza.jpg"/>
    <ion-card-header>
      <ion-card-title>Mince Pizza</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Scrumbcious mince pizza, served with freshly fried chips. <br>
      Allergens:
      Wheat
      <ion-label>Rating </ion-label>
    </ion-card-content>
    <ion-button (click)="orderAction('Mince Pizza')">Order</ion-button>
    <ion-button (click)="reviewAction(1)">Make Review</ion-button>
  </ion-card>

  <ion-card>
    <img src="../../assets/images/chickenBurger.jpg"/>
    <ion-card-header>
      <ion-card-title>Chicken Burger</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Mouth Watering chicken burger,served with freshly fried chips.<br>
      Allergens:
      Wheat
    </ion-card-content>
    <ion-button (click)="orderAction('Chicken Burger')">Order</ion-button>
    <ion-button (click)="reviewAction(2)">Make Review</ion-button>
  </ion-card>

  <ion-card>
    <img src="../../assets/images/sausageRoll.jpg"/>
    <ion-card-header>
      <ion-card-title>Sausage Roll</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Delicious sausage roll, served with freshly fried chips..<br>
      Allergens:
      Wheat
    </ion-card-content>
    <ion-button (click)="orderAction('Sausage Roll')">Order</ion-button>
    <ion-button (click)="reviewAction(3)">Make Review</ion-button>
  </ion-card>
  

</ion-content>
