<ion-content [fullscreen]="true" class="ion-padding">

  <ion-list>

    <ion-text>
      <h1>Convocation</h1>
    </ion-text>

    <div *ngFor="let item of menu" >
      <ion-card>
        <img src={{item.image}}/>
        <ion-card-header>
          <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{item.description}} <br>
          Allergens:
          {{item.allergens}}
        </ion-card-content>
        <ion-button (click)="orderAction(item.name)">Order</ion-button>
        <ion-button (click)="reviewAction()">Make Review</ion-button>
      </ion-card>
    </div>
    
</ion-list>

</ion-content>