*{
    font-weight: 300;
    top: 10%;
}

ion-content{
    
}

ion-grid{
    top: 10%;
}

ion-text{
    position: absolute;
    bottom: 10%;
  
    h1{
    font-size: 44px;
    color: #ffffff;
    font-style: italic;
    font-family: cursive;
    }
  
}