<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Review Past Meal</h1>
  </ion-text>

  <!-- <ionic5-star-rating #rating>
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#488aff" 
        defaultColor = "#f4f4f4"
        readonly="false"
        rating="3"
        fontSize = "32px"
        (ratingChanged)="logRatingChange($event)">
    </ionic5-star-rating>

    <form [formGroup]="customForm">

      <ionic5-star-rating #rating>
          activeIcon = "ios-star"
          defaultIcon = "ios-star-outline"
          activeColor = "#d1301a"
          defaultColor = "#aaaaaa"
          readonly = "false"
          fontSize = "32px"
          (ratingChanged)="logRatingChange($event)"
          formControlName="starRating">
      </ionic5-star-rating>

  </form> -->

  <ngb-rating 
  [(rate)]="currentRate" 
  [starTemplate]="t" 
  [readonly]="false" 
  max="5">
  </ngb-rating>

  <!-- <div class="input">
    <form>
      <ion-list>

        <ion-item>
          <ion-label position="stacked">Write a short comment</ion-label>
          <ion-input name="reviewComment" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Rate the meal
            <br> 1 = bad, 5 = great
          </ion-label>
          <ion-input type="Number" name="numRating"></ion-input>
        </ion-item>

      </ion-list>
    </form>
  </div>

  <div class = "actions">
    <ion-button expand="block" (click)="submitReview(numRating)">Submit Review</ion-button>
  </div> -->

</ion-content>
