

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Review Past Meal</h1>
  </ion-text>

  <div class="input">
    <form>
      <ion-list>

        <ion-item>
          <ion-label position="stacked">Write a short comment <br>(fewer than 50 charecters)</ion-label>
          <ion-input type="text" name="reviewComment" maxlength="50"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Rate the meal <br></ion-label>
          <ion-range min="1" max="5" step="1" value="3" snaps color="warning" pin="true" (ion-change)="setRating($event.value)">
            <ion-icon slot="start" color="warning" name="thumbs-down"></ion-icon>
            <ion-icon slot="end" color="warning" name="thumbs-up"></ion-icon>
          </ion-range>
        </ion-item>

      </ion-list>
    </form>
  </div>

  <div class = "actions">
    <ion-button expand="block" (click)="submitReview(value)">Submit Review</ion-button>
  </div>

</ion-content>
