<ion-content [fullscreen]="true" class="ion-padding">
    <router-outlet></router-outlet>
  <ion-text>
    <h1>Choose Dining Hall</h1>
  </ion-text>

  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="goto('1')">
          <img src="../../assets/images/convoPic.jpg">
          <ion-label>Convocation</ion-label>
          <ion-button expand="block" (click)="message('1')">Contact</ion-button>
        </div>
        
      </ion-col>

      <ion-col>
        <div class="item item-image" (click)="goto('2')">
          <img src="../../assets/images/eohPic.png">
          <ion-label>EOH</ion-label>
          <ion-button expand="block" (click)="message('2')">Contact</ion-button>
          
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="goto('3')">
          <img src="../../assets/images/highfeildPic.jpg">
          <ion-label>Highfield</ion-label>
          <ion-button expand="block" (click)="message(3)">Contact</ion-button>
        </div>
    
      </ion-col>
      <ion-col>
        <div class="item item-image" (click)="goto('4')">
          <img src="../../assets/images/jubsPic.png">
          <ion-label>Jubilee</ion-label>
          <ion-button expand="block" (click)="message('4')">Contact</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="goto('5')">
          <img src="../../assets/images/knocksPic.png">
          <ion-label>Knockando</ion-label>
          <ion-button expand="block" (click)="message('5')">Contact</ion-button>
        </div>
      </ion-col>

      <ion-col>
        <div class="item item-image" (click)="goto('6')">
          <img src="../../assets/images/mainPic.jpg">
          <ion-label>Main</ion-label>
          <ion-button expand="block" (click)="message('6')">Contact</ion-button>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid> 

</ion-content>
