<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Choose Dining Hall</h1>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu ="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <router-outlet></router-outlet>

  <ion-grid>

    <ion-row>
      <ion-col>
          <div class="item item-image" >
            <img src="../../assets/images/convoPic.jpg" (click)="goto('1')">
            <ion-label (click)="goto('1')">Convocation</ion-label>
            <ion-button expand="block" (click)="message('1')">Contact</ion-button>
          </div>
      </ion-col>

      <ion-col>
          <div class="item item-image" >
            <img src="../../assets/images/eohPic.png" (click)="goto('2')">
            <ion-label (click)="goto('2')">EOH</ion-label>
            <ion-button expand="block" (click)="message('2')">Contact</ion-button>
          </div>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>
          <div class="item item-image" >
            <img src="../../assets/images/highfeildPic.jpg" (click)="goto('3')">
            <ion-label (click)="goto('3')">Highfield</ion-label>
            <ion-button expand="block" (click)="message(3)">Contact</ion-button>
          </div>
      </ion-col>

      <ion-col>
        <div class="item item-image" >
          <img src="../../assets/images/jubsPic.png" (click)="goto('4')">
          <ion-label (click)="goto('4')">Jubilee</ion-label>
          <ion-button expand="block" (click)="message('4')">Contact</ion-button>
        </div>
        
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>
          <div class="item item-image">
            <img src="../../assets/images/knocksPic.png" (click)="goto('5')">
            <ion-label (click)="goto('5')">Knockando</ion-label>
            <ion-button expand="block" (click)="message('5')" >Contact</ion-button>
          </div>
      </ion-col>

      <ion-col>
          <div class="item item-image" >
            <img src="../../assets/images/mainPic.jpg" (click)="goto('6')">
            <ion-label (click)="goto('6')" >Main</ion-label>
            <ion-button expand="block" (click)="message('6')">Contact</ion-button>
        </div>

      </ion-col>

    </ion-row>

  </ion-grid> 

</ion-content>
