*{
    font-weight: 300;
    top: 7%
}

ion-grid{
    bottom: 10%;
}

ion-text{
    position: absolute;
    top: 3%;
    
    h1{
    font-size: 20px;
    color: #D4AF37;
    font-style: italic;
    font-family: cursive;
    }
}
ion-fab{
    bottom: 10%;
}