<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Login</h1>
  </ion-text>

  <div class = "input">
    <form>
      <ion-list>

        <ion-item>
          <ion-label position="stacked">Person Number</ion-label>
          <ion-input name="personNumber" [(ngModel)]="data.personNumber"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" name="password" [(ngModel)]="data.password"></ion-input>
        </ion-item>

      </ion-list>
    </form>

  </div>

  <div class="actions">
    <ion-button expand="block" (click)="mainAction()">Log In</ion-button>
    <p>
      Don't have an account? 
      <a> Sign up now</a>
    </p>
  </div>

</ion-content>
