<ion-content [fullscreen]="true" class="ion-padding">

    <ion-list>

      <ion-text>
        <h1>Buy Books</h1>
        <h2 *ngIf="user">Balance:   C {{user['Amount Left']}}</h2>
      </ion-text>

      <div class="actions">
        <ion-item id="rounded" *ngFor="let item of items">
          <ion-thumbnail slot="start" *ngIf="item['Image-URL']">
            <img [(src)]="item['Image-URL']" alt="">
          </ion-thumbnail>
          <ion-list>
            <h1>{{ item.Title }}</h1>
            <ion-label>C {{ item.Price }}</ion-label>
            <ion-button (click)="buy(item)">Buy</ion-button>
          </ion-list>
        </ion-item>
      </div>
      
    </ion-list>

</ion-content>
