<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Choose Dining Hall</h1>
  </ion-text>

  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="addDH('Convocation')">
          <img src="../../../assets/images/convoPic.jpg">
          <ion-label>Convocation</ion-label>
        </div>
        
      </ion-col>

      <ion-col>
        <div class="item item-image" (click)="addDH('ErnestOppenheimer')">
          <img src="../../../assets/images/eohPic.png">
          <ion-label>Ernest Oppenheimer</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="addDH('Highfield')">
          <img src="../../../assets/images/highfeildPic.jpg">
          <ion-label>Highfield</ion-label>
        </div>
    
      </ion-col>
      <ion-col>
        <div class="item item-image" (click)="addDH('Jubilee')">
          <img src="../../../assets/images/jubsPic.png">
          <ion-label>Jubilee</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="addDH('Knockando')">
          <img src="../../../assets/images/knocksPic.png">
          <ion-label>Knockando</ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div class="item item-image" (click)="addDH('Main')">
          <img src="../../../assets/images/mainPic.jpg">
          <ion-label>Main</ion-label>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
