<ion-content [fullscreen]="true" class="ion-padding">
    <router-outlet></router-outlet>
  <ion-text>
    <h1>Choose Dining Hall</h1>
  </ion-text>

  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="goto('convo-meals')">
          <img src="../../assets/images/convoPic.jpg">
          <ion-label>Convocation</ion-label>
        </div>
        
      </ion-col>

      <ion-col>
        <div class="item item-image" (click)="goto('eoh-meals')">
          <img src="../../assets/images/eohPic.png">
          <ion-label>EOH</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="goto('highfield-meals')">
          <img src="../../assets/images/highfeildPic.jpg">
          <ion-label>Highfield</ion-label>
        </div>
    
      </ion-col>
      <ion-col>
        <div class="item item-image" (click)="goto('jubs-meals')">
          <img src="../../assets/images/jubsPic.png">
          <ion-label>Jubilee</ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="goto('knocks-meals')">
          <img src="../../assets/images/knocksPic.png">
          <ion-label>Knockando</ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div class="item item-image" (click)="goto('main-meals')">
          <img src="../../assets/images/mainPic.jpg">
          <ion-label>Main</ion-label>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid> 

</ion-content>
