ion-header{
 
    h1{
      font-size: 16px;
      color: #416;
      font-style: italic;
      font-family: cursive;
    }
}


.ion-padding{


    h1{
        font-size: 12px;
        color: #416;
    }
    
}

ion-input{
        ::placeholder {
            font-size: 10px; //sets placeholder font size
          }
}

ion-button{
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 3%;
    --background: #D4AF37;
 
}