<ion-header>
  <ion-toolbar>
    <ion-title>
      <h1>Order History</h1>
    </ion-title>
   <ion-buttons slot="start">
     <ion-menu-button menu ="main-menu"></ion-menu-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

    <ion-list>

      <div class="actions">
        <ion-card *ngFor="let item of items">

          <img [(src)]="item['Image-URL']" alt="">
          
          <ion-list>
            <h1>{{ item.Title }}</h1>
            <ion-label>C {{ item.Price }} <br></ion-label>
            <ion-label>C {{ item['Delivery Location'] }} <br></ion-label>
            <div *ngIf="item.Status == 'Pending Delivery'; else deliveryDateText">
              <ion-label> {{ item.ETA }} <br></ion-label>
            </div>
            <div *ngIf="item.Owner != uid; else deliveredSeller">
              <ion-button expand="block" (click)="message(item)">Contact Seller</ion-button>
            </div>

            <ng-template #deliveredSeller>
                  <ion-item>
                    
                    <ion-toggle [(ngModel)]="delivered" [checked]="delivered" (ionChange)="myChange($event)"></ion-toggle>
                    <ion-label>Delivered</ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-input placeholder="Estimated delivery date"></ion-input>
                  </ion-item>
            </ng-template>

            <ng-template #deliveryDateText>
                <ion-label > ETA: {{ item.ETA }} <br></ion-label>
            </ng-template>
            
          </ion-list>

        </ion-card>
      </div>
      
    </ion-list>

</ion-content>
