<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Choose A Meal</h1>
  </ion-text>

  <ion-grid>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="addMeal('Cornflakes')">
          <img src="../../../assets/images/corn.jpg">
          <ion-label>Cornflakes</ion-label>
        </div>
        
      </ion-col>

      <ion-col>

        <ion-item>
            <ion-label>
                <h3>
                  Themba Tshabalala
                </h3>
                <p>
                  They taste like cardboard
                </p>
            </ion-label>
        </ion-item>

        <ion-item>
          <ion-input placeholder="Give a review"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="addMeal('Vegan')">
          <img src="../../../assets/images/vegan stir.jpg">
          <ion-label>Vegan Stir-Fry</ion-label>
        </div>
    
      </ion-col>
      
      <ion-col>

        <ion-item>
            <ion-label>
                <h3>
                  Ndumiso Mdletshe
                </h3>
                <p>
                  Needs more vegetables
                </p>
            </ion-label>
        </ion-item>
        <ion-item>
          <ion-input placeholder="Give a review"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="addMeal('Chicken')">
          <img src="../../../assets/images/chicken.jpg">
          <ion-label>Chicken And Chips</ion-label>
        </div>
      </ion-col>

      <ion-col>
        

          <ion-item>
              <ion-label>
                  <h3>
                    Keatlehile Zungu
                  </h3>
                  <p>
                    The chicken is amazing
                  </p>
              </ion-label>
          </ion-item>
          <ion-item>
            <ion-input placeholder="Give a review"></ion-input>
          </ion-item>
  
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="item item-image" (click)="addMeal('Smoothies')">
          <img src="../../../assets/images/smoothie.png">
          <ion-label>Smoothies</ion-label>
        </div>
      </ion-col>

      <ion-col>

        <ion-item>
            <ion-label>
                <h3>
                  Thandeka Mtshali
                </h3>
                <p>
                  A little too much sugar but delicious
                </p>
            </ion-label>
        </ion-item>

        <ion-item>
          <ion-input placeholder="Give a review"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
