*{
    font-weight: 300;
    top: 10%
}
ion-content{
    --background: url(../../../assets/images/blackWhite.jpg) no-repeat center center fixed;
  }

ion-grid{
    bottom: 10%;
}

ion-text{
    position: absolute;
    top: 5%;
    
    h1{
    font-size: 20px;
    color: #D4AF37;
    }

    

}

/* Custom Skeleton Line Height and Margin */
.custom-skeleton ion-skeleton-text {
    line-height: 13px;
  }
  
  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }