<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Main</h1>
  </ion-text>

  <ion-card>
    <img src="../../assets/images/beefWrap.jpg"/>
    <ion-card-header>
      <ion-card-title>Beef Wrap</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Scrumbcious beef wrap, served with freshly cooked rice. <br>
      Allergens:
      Wheat
    </ion-card-content>
    <ion-button (click)="orderAction(1)">Order</ion-button>
    <ion-button (click)="reviewAction()">Make Review</ion-button>
  </ion-card>

  <ion-card>
    <img src="../../assets/images/tunaPasta.jpg"/>
    <ion-card-header>
      <ion-card-title>Pasta & Tuna Salad</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Mouth Watering pasta and tuna salad.<br>
      Allergens:
      Wheat, Milk
    </ion-card-content>
    <ion-button (click)="orderAction(2)">Order</ion-button>
    <ion-button (click)="reviewAction()">Make Review</ion-button>
  </ion-card>

  <ion-card>
    <img src="../../assets/images/snack.jpg"/>
    <ion-card-header>
      <ion-card-title>Snacks (Pack)</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Delicious array of snacks.<br>
      Options:
      Busicuits, muffins, sweets &fruits
    </ion-card-content>
    <ion-button (click)="orderAction(3)">Order</ion-button>
    <ion-button (click)="reviewAction()">Make Review</ion-button>
  </ion-card>
  

</ion-content>
